<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
>
<body>
    <div layout:fragment="content" >
        <h1> display products here! </h1>
        <div x-data="productInit">
            <button @click="increase">increase</button>
            <div x-text="count">
               0
            </div>
        </div>
    </div>

    <div layout:fragment="pageScripts" >

        <script src="/js/product.js"></script>
    </div>

</body>
</html>